{% extends 'base.html' %}
{% block title%}Edit Post{% endblock %}

{% block header %}
  <h1>Edit Post</h1>
{% endblock %}

{% block content%}
  <!-- Test for Edit Page -->
  <form method="POST" action="/posts/{{post.id}}/edit">

    <label for="title">Title</label>
    <input id="title" value="{{post.title}}" name="title">

    <label for="content">Post Content</label>
    <input id="content" value="{{post.content}}" name="content">

    <button class="btn btn-success">Save</button>
    <a class="btn btn-warning" href="/posts/{{post.id}}">Cancel</a>
  </form>
{% endblock %}