{% extends 'base.html' %}
{% block title %}User Info{% endblock %}


{% block content %}
<!-- For testing user_info -->
<img style="width: 200px; height: auto" class="img-fluid img-thumbnail" src="{{ user.image_url }}" alt="Profile Image">

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<form action="/users/{{user.id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>

<a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>

<a class="btn btn-primary" href="/users">Home</a>

<h3>Posts</h3>
<ul>
  {% for post in user.posts %}

  <li>
    <a href="/posts/{{ post.id }}">{{post.title}}</a>
  </li>

  {% endfor %}
</ul>



<a class="btn btn-primary" href="/users/{{user.id}}/posts/new">Add Post</a>
{% endblock %}