{% extends 'base.html' %}
{% block title%}Create a user{% endblock %}

{% block content%}
  <h1>Add post for {{user.first_name}} {{user.last_name}}</h1>

  <form method="POST" action="/users/{{user.id}}/posts/new">
    <!-- Test for add post form -->

    <label for="post_title">Title</label>
    <input id="post_title" name="post_title">

    <label for="post_content">Post Content</label>
    <textarea id="post_content" rows="5" name="post_content"></textarea>

    <!-- Textarea for content blocks -->


    <button class="btn btn-primary"><a>Add</a></button>

    <a class="btn btn-primary" href="/users/{{user.id}}">Cancel</a>
  </form>
{% endblock %}